@import "~mustard-ui/src/scss/vars/colors.scss";

/* PLACE YOUR APP OVERRIDES HERE */


p > img {

	max-width: 50%;
	// margin-left: auto;
	// margin-right: auto;
	// border: 1px solid #ddd;
	border-radius: 4px;
	// padding: 5px;
	display: block;
}

/* NAVIGATION */
$nav-bg-color: $color-green-300;
// $nav-link-color: $color-gray-200;
// $nav-link-active-color: $brand-color !default;
// $nav-menu-toggle-color: $color-gray-100;

/* FOOTER */
$footer-text-color: $color-white;
$footer-bg-color: $color-gray-900;
$footer-links-color: $color-gray-400;

/* MENUS */
// $menu-shadow: true !default;
// $menu-bg-color:  $color-gray-900;
// $menu-hover-color: $color-gray-800;

/* CODE */
$code-bg-color: $color-gray-100;


@import "~mustard-ui/src/scss/mustard-ui.scss";
